.CLion2016.2/
.Xauthority
.atom/
.bash_history
.bash_logout
.bash_profile
.cache/
.config/Atom/
.config/Slack/
.config/Thunar/
.config/chromium/
.config/dconf/
.config/gtk-3.0/
.config/menus/
.config/mimeapps.list
.config/pulse/
.config/xfce4/
.dmenu_cache
.esd_auth
.gitconfig
.gnome/
.gnupg/
.gtkrc-2.0
.icons/
.java/
.local/
.mozilla/
.node-gyp/
.npm/
.pki/
.subversion/
.thumbnails/
.viminfo
.xinitrc
.xsession-errors
2016-09-03-194023_1920x1080_scrot.png
Downloads/
Pictures/
google-chrome/
splashkit/
tmp/
wireless/
